replicaCount: 1

image:
  repository: 904557616759.dkr.ecr.us-east-1.amazonaws.com/eks-demo-app
  tag: ""
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  MESSAGE: "Automating Infrastructure. Delivering Reliability."
  VERSION: "DevOps Engineer 路 AWS 路 EKS 路 Helm 路 Jenkins"

config:
  appName: "eks-demo"

livenessProbe:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 5