replicaCount: 1

image:
  repository: 904557616759.dkr.ecr.us-east-1.amazonaws.com/eks-demo-app
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []

env:
  MESSAGE: "Hello from Helm"
  VERSION: "v1"

config:
  appName: "eks-demo"

livenessProbe:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 5